In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
counts_frontent17 = pd.read_csv('./data/[회귀]실이용객_시각별_차량_카운트_정문_2017.csv')
counts_backent17 = pd.read_csv('./data/[회귀]실이용객_시각별_차량_카운트_후문_2017.csv')
counts_guiient17 = pd.read_csv('./data/[회귀]실이용객_시각별_차량_카운트_구의문_2017.csv')

In [3]:
counts_frontent17.head()

              datetime  count
0  2017-01-01 00:00:00    0.0
1  2017-01-01 01:00:00    0.0
2  2017-01-01 02:00:00    0.0
3  2017-01-01 03:00:00    0.0
4  2017-01-01 04:00:00    0.0