In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
import plotly.express as px
import plotly.graph_objects as go

from statsmodels.tsa.statespace.sarimax import SARIMAX

%matplotlib inline

# 데이터 불러오기 (count1718)

In [2]:
count1718 = pd.read_csv('../data/2017_2018_운영시간내_실이용객_시각별_주차장_카운트.csv')
count1718

                 datetime  count
0     2017-01-01 00:00:00    0.0
1     2017-01-01 01:00:00    0.0
2     2017-01-01 02:00:00    0.0
3     2017-01-01 03:00:00    0.0
4     2017-01-01 04:00:00    0.0
5     2017-01-01 05:00:00    0.0
6     2017-01-01 06:00:00    0.0
7     2017-01-01 07:00:00    0.0
8     2017-01-01 08:00:00    0.0
9     2017-01-01 09:00:00   18.0
10    2017-01-01 10:00:00  101.0
11    2017-01-01 11:00:00  174.0
12    2017-01-01 12:00:00  259.0
13    2017-01-01 13:00:00  341.0
14    2017-01-01 14:00:00  407.0
15    2017-01-01 15:00:00  438.0
16    2017-01-01 16:00:00  327.0
17    2017-01-01 17:00:00  213.0
18    2017-01-01 18:00:00   75.0
19    2017-01-01 19:00:00   21.0
20    2017-01-01 20:00:00   16.0
21    2017-01-01 21:00:00   15.0
22    2017-01-01 22:00:00    2.0
23    2017-01-01 23:00:00    0.0
24    2017-01-02 00:00:00    0.0
25    2017-01-02 01:00:00    0.0
26    2017-01-02 02:00:00    0.0
27    2017-01-02 03:00:00    0.0
28    2017-01-02 04:00:00    0.0
29    2017-01-02 05:00:00    0.0
...                   ...    ...
9476  2018-01-30 19:00:00   29.0
9477  2018-01-30 20:00:00   29.0
9478  2018-01-30 21:00:00   27.0
9479  2018-01-30 22:00:00    3.0
9480  2018-01-30 23:00:00    0.0
9481  2018-01-31 00:00:00    0.0
9482  2018-01-31 01:00:00    0.0
9483  2018-01-31 02:00:00    0.0
9484  2018-01-31 03:00:00    0.0
9485  2018-01-31 04:00:00    0.0
9486  2018-01-31 05:00:00    0.0
9487  2018-01-31 06:00:00    0.0
9488  2018-01-31 07:00:00    0.0
9489  2018-01-31 08:00:00    0.0
9490  2018-01-31 09:00:00   39.0
9491  2018-01-31 10:00:00  141.0
9492  2018-01-31 11:00:00  192.0
9493  2018-01-31 12:00:00  244.0
9494  2018-01-31 13:00:00  270.0
9495  2018-01-31 14:00:00  270.0
9496  2018-01-31 15:00:00  278.0
9497  2018-01-31 16:00:00  205.0
9498  2018-01-31 17:00:00  150.0
9499  2018-01-31 18:00:00  104.0
9500  2018-01-31 19:00:00   72.0
9501  2018-01-31 20:00:00   60.0
9502  2018-01-31 21:00:00   38.0
9503  2018-01-31 22:00:00    7.0
9504  2018-01-31 23:00:00    0.0
9505  2018-02-01 00:00:00    0.0

[9506 rows x 2 columns]

# Seaborn lineplot for SRIMAX

In [10]:
# plt.figure(figsize=(20,10))
# sns.lineplot('datetime', 'count', data=count1718)

In [4]:
# 2018 1월 예측
# 23시간 * 31일
x_train = count1718.iloc[:-713, 1]
x_test = count1718.iloc[-713:, 1]

In [5]:
res = SARIMAX(
    x_train, 
    # p, d, q
    order=(1, 1, 1), 
    # P, D, Q, m
    seasonal_order=(1, 1, 1, 1)
).fit()

In [6]:
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 Statespace Model Results
=========================================================================================
Dep. Variable:                             count   No. Observations:                 8793
Model:             SARIMAX(1, 1, 1)x(1, 1, 1, 1)   Log Likelihood              -48895.538
Date:                           Fri, 08 Nov 2019   AIC                          97801.076
Time:                                   14:41:26   BIC                          97836.483
Sample:                                        0   HQIC                         97813.138
                                          - 8793
Covariance Type:                             opg
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
ar.L1         -0.4272      0.022    -19.693      0.000      -0.470      -0.385
ma.L1          0.5337      0.021     26.024      0.000       0.494       0.574
ar.S.L1       -0.4272      0.022    -19.693      0.000      -0.470      -0.385
ma.S.L1        0.5337      0.021     26.024      0.000       0.494       0.574
sigma2      3968.3688     25.434    156.024      0.000    3918.518    4018.219
===================================================================================
Ljung-Box (Q):                     5027.63   Jarque-Bera (JB):             38204.61
Prob(Q):                              0.00   Prob(JB):                         0.00
Heteroskedasticity (H):               0.88   Skew:                             0.11
Prob(H) (two-sided):                  0.00   Kurtosis:                        13.21
===================================================================================

Warnings:
[1] Covariance matrix calculated using the outer product of gradients (complex-step).
[2] Covariance matrix is singular or near-singular, with condition number 5.74e+20. Standard errors may be unstable.
"""

### 예측

In [7]:
n = len(x_train)
m = len(x_test)
forecast = res.predict(n + 1, n+m)

In [ ]:
sns.lineplot('datetime', 'count', data=count1718, color='lightgrey')
sns.lineplot(
    count1718.iloc[-713:, 0],
    forecast,
    color='red'
)