In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
weather2017 = pd.read_csv('./data/weather_2017.csv', encoding='CP949')
weather2018 = pd.read_csv('./data/weather_2018.csv', encoding='CP949')
weather2019 = pd.read_csv('./data/weather_2019_11_13.csv', encoding='CP949')


counts_frontent17 = pd.read_csv('./data/[회귀]실이용객_시각별_차량_카운트_정문_2017.csv')
counts_backent17 = pd.read_csv('./data/[회귀]실이용객_시각별_차량_카운트_후문_2017.csv')
counts_guiient17 = pd.read_csv('./data/[회귀]실이용객_시각별_차량_카운트_구의문_2017.csv')

counts_frontent18 = pd.read_csv('./data/[회귀]실이용객_시각별_차량_카운트_정문_2018.csv')
counts_backent18 = pd.read_csv('./data/[회귀]실이용객_시각별_차량_카운트_후문_2018.csv')
counts_guiient18 = pd.read_csv('./data/[회귀]실이용객_시각별_차량_카운트_구의문_2018.csv')

counts_frontent19 = pd.read_csv('./data/[회귀]실이용객_시각별_차량_카운트_정문_2019.csv')
counts_backent19 = pd.read_csv('./data/[회귀]실이용객_시각별_차량_카운트_후문_2019.csv')
counts_guiient19 = pd.read_csv('./data/[회귀]실이용객_시각별_차량_카운트_구의문_2019.csv')

In [3]:
weather2017['일시'] = pd.to_datetime(weather2017['일시'])
weather2018['일시'] = pd.to_datetime(weather2018['일시'])
weather2019['일시'] = pd.to_datetime(weather2019['일시'])

counts_frontent17['datetime'] = pd.to_datetime(counts_frontent17['datetime'])
counts_backent17['datetime'] = pd.to_datetime(counts_backent17['datetime'])
counts_guiient17['datetime'] = pd.to_datetime(counts_guiient17['datetime'])

counts_frontent18['datetime'] = pd.to_datetime(counts_frontent18['datetime'])
counts_backent18['datetime'] = pd.to_datetime(counts_backent18['datetime'])
counts_guiient18['datetime'] = pd.to_datetime(counts_guiient18['datetime'])

counts_frontent19['datetime'] = pd.to_datetime(counts_frontent19['datetime'])
counts_backent19['datetime'] = pd.to_datetime(counts_backent19['datetime'])
counts_guiient19['datetime'] = pd.to_datetime(counts_guiient19['datetime'])

In [4]:
counts_frontent18.dtypes

datetime    datetime64[ns]
count              float64
dtype: object

In [5]:
weather2017

,지점,일시,기온(°C),강수량(mm),풍속(m/s),습도(%),일조(hr),일사(MJ/m2),적설(cm)
0,108,2017-01-01 01:00:00,0.0,NaN,1.4,78.0,NaN,NaN,NaN
1,108,2017-01-01 02:00:00,-0.3,NaN,1.9,81.0,NaN,NaN,NaN
2,108,2017-01-01 03:00:00,-0.7,NaN,2.0,84.0,NaN,NaN,NaN
3,108,2017-01-01 04:00:00,-1.1,NaN,1.6,85.0,NaN,NaN,NaN
4,108,2017-01-01 05:00:00,-1.4,NaN,1.4,86.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
8731,108,2017-12-30 20:00:00,1.9,NaN,0.9,90.0,NaN,NaN,NaN
8732,108,2017-12-30 21:00:00,1.8,0.2,1.1,92.0,NaN,NaN,NaN
8733,108,2017-12-30 22:00:00,1.8,NaN,1.2,92.0,NaN,NaN,NaN
8734,108,2017-12-30 23:00:00,1.4,NaN,1.9,92.0,NaN,NaN,NaN
8735,108,2017-12-31 00:00:00,0.9,0.2,1.8,95.0,NaN,NaN,0.2

In [6]:
print(f"weather 2017 {weather2017.shape}")
print(f"weather 2018 {weather2018.shape}")
print(f"weather 2019 {weather2019.shape}")

weather 2017 (8736, 9)
weather 2018 (8736, 9)
weather 2019 (7560, 9)

# 2017, 2018, 2019 문별 데이터 컨캣
전처리를 빠르게 하기 위해서 문별 데이터를 하나의 컬럼으로 추가하고 년도별로 데이터를 합친다.

In [7]:
# 입출구 컬럼 생성
counts_frontent17['입출구명'], counts_backent17['입출구명'], counts_guiient17['입출구명'] = ('정문', '후문', '구의문')
counts_frontent18['입출구명'], counts_backent18['입출구명'], counts_guiient18['입출구명'] = ('정문', '후문', '구의문')
counts_frontent19['입출구명'], counts_backent19['입출구명'], counts_guiient19['입출구명'] = ('정문', '후문', '구의문')

In [8]:
# concat
all_counts2017 = pd.concat([counts_frontent17, counts_backent17, counts_guiient17])
all_counts2018 = pd.concat([counts_frontent18, counts_backent18, counts_guiient18])
all_counts2019 = pd.concat([counts_frontent19, counts_backent19, counts_guiient19])

In [9]:
all_counts2017

                datetime  count 입출구명
0    2017-01-01 00:00:00    0.0   정문
1    2017-01-01 01:00:00    0.0   정문
2    2017-01-01 02:00:00    0.0   정문
3    2017-01-01 03:00:00    0.0   정문
4    2017-01-01 04:00:00    0.0   정문
...                  ...    ...  ...
8756 2017-12-31 20:00:00    9.0  구의문
8757 2017-12-31 21:00:00    7.0  구의문
8758 2017-12-31 22:00:00    1.0  구의문
8759 2017-12-31 23:00:00    0.0  구의문
8760 2018-01-01 00:00:00    0.0  구의문

[26283 rows x 3 columns]

# 요일 붙이기

In [10]:
counts_frontent17['datetime'][0].weekday()

6

In [11]:
def seperate_datetime(df):
    df['year'] = df['datetime'].dt.year
    df['month'] = df['datetime'].dt.month
    df['date'] = df['datetime'].dt.day
    df['hour'] = df['datetime'].dt.hour
    df['weekday'] = df['datetime'].map(lambda x: x.weekday())
    pass

In [12]:
# 요일
seperate_datetime(all_counts2017)
seperate_datetime(all_counts2018)
seperate_datetime(all_counts2019)

In [13]:
all_counts2017

                datetime  count 입출구명  year  month  date  hour  weekday
0    2017-01-01 00:00:00    0.0   정문  2017      1     1     0        6
1    2017-01-01 01:00:00    0.0   정문  2017      1     1     1        6
2    2017-01-01 02:00:00    0.0   정문  2017      1     1     2        6
3    2017-01-01 03:00:00    0.0   정문  2017      1     1     3        6
4    2017-01-01 04:00:00    0.0   정문  2017      1     1     4        6
...                  ...    ...  ...   ...    ...   ...   ...      ...
8756 2017-12-31 20:00:00    9.0  구의문  2017     12    31    20        6
8757 2017-12-31 21:00:00    7.0  구의문  2017     12    31    21        6
8758 2017-12-31 22:00:00    1.0  구의문  2017     12    31    22        6
8759 2017-12-31 23:00:00    0.0  구의문  2017     12    31    23        6
8760 2018-01-01 00:00:00    0.0  구의문  2018      1     1     0        0

[26283 rows x 8 columns]

# 날씨 붙이기

In [14]:
def merge_weather(counting_df, weather_df):
    return counting_df.merge(weather_df, how='inner', left_on='datetime', right_on='일시')

In [15]:
# 날씨
wc_17 = merge_weather(all_counts2017, weather2017)
wc_18 = merge_weather(all_counts2018, weather2018)
wc_19 = merge_weather(all_counts2019, weather2019)

In [16]:
# 불필요 컬럼 제거
wc_17.drop('지점', axis=1, inplace=True)
wc_18.drop('지점', axis=1, inplace=True)
wc_19.drop('지점', axis=1, inplace=True)

In [19]:
wc_17.drop('일시', axis=1, inplace=True)
wc_18.drop('일시', axis=1, inplace=True)
wc_19.drop('일시', axis=1, inplace=True)

In [31]:
wc_17.to_csv('./data/[회귀]요일_날씨_입출구_2017_NaN원본.csv', index=False)
wc_18.to_csv('./data/[회귀]요일_날씨_입출구_2018_NaN원본.csv', index=False)
wc_19.to_csv('./data/[회귀]요일_날씨_입출구_2019_NaN원본.csv', index=False)

In [30]:
wc_17.fillna(0).to_csv('./data/[회귀]요일_날씨_입출구_2017.csv', index=False)
wc_18.fillna(0).to_csv('./data/[회귀]요일_날씨_입출구_2018.csv', index=False)
wc_19.fillna(0).to_csv('./data/[회귀]요일_날씨_입출구_2019.csv', index=False)