In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
wc_17 = pd.read_csv('./data/[회귀]요일_날씨_입출구_2017.csv')
wc_18 = pd.read_csv('./data/[회귀]요일_날씨_입출구_2018.csv')
wc_19 = pd.read_csv('./data/[회귀]요일_날씨_입출구_2019.csv')

holi = pd.read_csv('./data/[회귀]all_공휴일.csv')

In [3]:
wc_17['datetime'] = pd.to_datetime(wc_17['datetime'])
wc_18['datetime'] = pd.to_datetime(wc_18['datetime'])
wc_19['datetime'] = pd.to_datetime(wc_19['datetime'])

# 공휴일 날짜데이터 형식으로 변환

In [4]:
holi['locdate'] = holi['locdate'].map(lambda d: str(d))

In [5]:
holi['locdate'] = pd.to_datetime(holi['locdate'].map(lambda d: f'{d[:4]}-{d[4:6]}-{d[6:]}'))

In [6]:
holi['is_holiday'] = 1

holi['year'] = holi['locdate'].dt.year
holi['month'] = holi['locdate'].dt.month
holi['date'] = holi['locdate'].dt.day

In [7]:
holi

    dateName    locdate  is_holiday  year  month  date
0         신정 2017-01-01           1  2017      1     1
1         설날 2017-01-27           1  2017      1    27
2         설날 2017-01-28           1  2017      1    28
3         설날 2017-01-29           1  2017      1    29
4      대체공휴일 2017-01-30           1  2017      1    30
5        삼일절 2017-03-01           1  2017      3     1
6      석가탄신일 2017-05-03           1  2017      5     3
7       어린이날 2017-05-05           1  2017      5     5
8     대통령선거일 2017-05-09           1  2017      5     9
9        현충일 2017-06-06           1  2017      6     6
10       광복절 2017-08-15           1  2017      8    15
11     임시공휴일 2017-10-02           1  2017     10     2
12       개천절 2017-10-03           1  2017     10     3
13        추석 2017-10-03           1  2017     10     3
14        추석 2017-10-04           1  2017     10     4
15        추석 2017-10-05           1  2017     10     5
16     대체공휴일 2017-10-06           1  2017     10     6
17       한글날 2017-10-09           1  2017     10     9
18     기독탄신일 2017-12-25           1  2017     12    25
19      1월1일 2018-01-01           1  2018      1     1
20        설날 2018-02-15           1  2018      2    15
21        설날 2018-02-16           1  2018      2    16
22        설날 2018-02-17           1  2018      2    17
23       삼일절 2018-03-01           1  2018      3     1
24      어린이날 2018-05-05           1  2018      5     5
25     대체휴무일 2018-05-07           1  2018      5     7
26    부처님오신날 2018-05-22           1  2018      5    22
27       현충일 2018-06-06           1  2018      6     6
28  전국동시지방선거 2018-06-13           1  2018      6    13
29       광복절 2018-08-15           1  2018      8    15
30        추석 2018-09-23           1  2018      9    23
31        추석 2018-09-24           1  2018      9    24
32        추석 2018-09-25           1  2018      9    25
33     대체휴무일 2018-09-26           1  2018      9    26
34       개천절 2018-10-03           1  2018     10     3
35       한글날 2018-10-09           1  2018     10     9
36     기독탄신일 2018-12-25           1  2018     12    25
37      1월1일 2019-01-01           1  2019      1     1
38        설날 2019-02-04           1  2019      2     4
39        설날 2019-02-05           1  2019      2     5
40        설날 2019-02-06           1  2019      2     6
41       삼일절 2019-03-01           1  2019      3     1
42      어린이날 2019-05-05           1  2019      5     5
43     대체공휴일 2019-05-06           1  2019      5     6
44    부처님오신날 2019-05-12           1  2019      5    12
45       현충일 2019-06-06           1  2019      6     6
46       광복절 2019-08-15           1  2019      8    15
47        추석 2019-09-12           1  2019      9    12
48        추석 2019-09-13           1  2019      9    13
49        추석 2019-09-14           1  2019      9    14
50       개천절 2019-10-03           1  2019     10     3
51       한글날 2019-10-09           1  2019     10     9
52     기독탄신일 2019-12-25           1  2019     12    25

In [8]:
wch_17 = wc_17.merge(holi, how='left').fillna(0)
wch_17

,datetime,count,입출구명,year,month,date,hour,weekday,기온(°C),강수량(mm),풍속(m/s),습도(%),일조(hr),일사(MJ/m2),적설(cm),dateName,locdate,is_holiday
0,2017-01-01 01:00:00,0.0,정문,2017,1,1,1,6,0.0,0.0,1.4,78.0,0.0,0.0,0.0,신정,2017-01-01 00:00:00,1.0
1,2017-01-01 01:00:00,0.0,후문,2017,1,1,1,6,0.0,0.0,1.4,78.0,0.0,0.0,0.0,신정,2017-01-01 00:00:00,1.0
2,2017-01-01 01:00:00,0.0,구의문,2017,1,1,1,6,0.0,0.0,1.4,78.0,0.0,0.0,0.0,신정,2017-01-01 00:00:00,1.0
3,2017-01-01 02:00:00,0.0,정문,2017,1,1,2,6,-0.3,0.0,1.9,81.0,0.0,0.0,0.0,신정,2017-01-01 00:00:00,1.0
4,2017-01-01 02:00:00,0.0,후문,2017,1,1,2,6,-0.3,0.0,1.9,81.0,0.0,0.0,0.0,신정,2017-01-01 00:00:00,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26275,2017-12-30 23:00:00,0.0,후문,2017,12,30,23,5,1.4,0.0,1.9,92.0,0.0,0.0,0.0,0,0,0.0
26276,2017-12-30 23:00:00,0.0,구의문,2017,12,30,23,5,1.4,0.0,1.9,92.0,0.0,0.0,0.0,0,0,0.0
26277,2017-12-31 00:00:00,0.0,정문,2017,12,31,0,6,0.9,0.2,1.8,95.0,0.0,0.0,0.2,0,0,0.0
26278,2017-12-31 00:00:00,0.0,후문,2017,12,31,0,6,0.9,0.2,1.8,95.0,0.0,0.0,0.2,0,0,0.0
26279,2017-12-31 00:00:00,0.0,구의문,2017,12,31,0,6,0.9,0.2,1.8,95.0,0.0,0.0,0.2,0,0,0.0

In [9]:
wch_18 = wc_18.merge(holi, how='left').fillna(0)

In [10]:
wch_19 = wc_19.merge(holi, how='left').fillna(0)
wch_19

,datetime,count,입출구명,year,month,date,hour,weekday,기온(°C),강수량(mm),풍속(m/s),습도(%),일조(hr),일사(MJ/m2),적설(cm),dateName,locdate,is_holiday
0,2019-01-01 01:00:00,0.0,정문,2019,1,1,1,1,-5.9,0.0,1.8,56.0,0.0,0.0,0.0,1월1일,2019-01-01 00:00:00,1.0
1,2019-01-01 01:00:00,0.0,후문,2019,1,1,1,1,-5.9,0.0,1.8,56.0,0.0,0.0,0.0,1월1일,2019-01-01 00:00:00,1.0
2,2019-01-01 01:00:00,0.0,구의문,2019,1,1,1,1,-5.9,0.0,1.8,56.0,0.0,0.0,0.0,1월1일,2019-01-01 00:00:00,1.0
3,2019-01-01 02:00:00,0.0,정문,2019,1,1,2,1,-6.5,0.0,1.2,60.0,0.0,0.0,0.0,1월1일,2019-01-01 00:00:00,1.0
4,2019-01-01 02:00:00,0.0,후문,2019,1,1,2,1,-6.5,0.0,1.2,60.0,0.0,0.0,0.0,1월1일,2019-01-01 00:00:00,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22675,2019-11-11 23:00:00,0.0,후문,2019,11,11,23,0,8.9,0.0,2.0,66.0,0.0,0.0,0.0,0,0,0.0
22676,2019-11-11 23:00:00,0.0,구의문,2019,11,11,23,0,8.9,0.0,2.0,66.0,0.0,0.0,0.0,0,0,0.0
22677,2019-11-12 00:00:00,0.0,정문,2019,11,12,0,1,7.9,0.0,1.0,71.0,0.0,0.0,0.0,0,0,0.0
22678,2019-11-12 00:00:00,0.0,후문,2019,11,12,0,1,7.9,0.0,1.0,71.0,0.0,0.0,0.0,0,0,0.0
22679,2019-11-12 00:00:00,0.0,구의문,2019,11,12,0,1,7.9,0.0,1.0,71.0,0.0,0.0,0.0,0,0,0.0

In [12]:
wch_17.to_csv('./data/[회귀]최종_전처리_완료_요일_날씨_공휴일_2017.csv', index=False)
wch_18.to_csv('./data/[회귀]최종_전처리_완료_요일_날씨_공휴일_2018.csv', index=False)
wch_19.to_csv('./data/[회귀]최종_전처리_완료_요일_날씨_공휴일_2019.csv', index=False)